<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user) { %>

			<%- include('./partials/headerLogueado') %>

	  
		<% } else { %> 

				<%- include('./partials/header') %>

		<% }  %> 		
		
		<!-- /Header -->

		<!-- product -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">

				<h2 class="products-title"> <%= auto.nombre_producto %></h2> 

				<% if (locals.user) { %>
					<p class="product-detail-description">
						<a href="/products/add">Editar</a>
					</p>
				<% } %>

			</div>

		

			
			
			

			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/<%= auto.nombre_archivo_imagen %>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= auto.descripcion_producto %>			
						</p>

						<p class="product-detail-description">
							Cargado por : <%= auto.user.nombre %>
						</p>
					</article>
					
						<div class="col-12 col-lg-4">
												
						
								<section class="comments">
									<article>
										
										<div>

											<% for( let i = 0; i < auto.comment.length; i++ ) { %>
												
												<p class="user">

													<strong><a href="/profile" class="product-detail-description">  <%= auto.comment[i].user.nombre %> </a></strong>
	
												</p>

												<p class="product-detail-description"> <%= auto.comment[i].texto_comentario %> </p>

												
											<% } %>

											
										</div>

									</article>

									<% if (locals.user) { %>

										<form class="form" action="" method="GET">
											<input class="form-input" type="text" value="" placeholder="Agregar comentario">
											<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
										</form>

									<% } %>
								
							
							
						</section>
						
						</div>


					
						
					</div>
				</div>
			</div>
		</div>
		<!-- /product det -->

		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- /footer -->

	</body>	
</html>
