<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrarse</h2>
				</div>
				<form action="/profile/register" method="POST" novalidate>
                    <div>
                        <label for="name">Nombre de Usuario</label>
                        <input type="text" id="name" name="name" placeholder="nombre" 
						value="<%= locals.oldData !== undefined && oldData.name ? oldData.name : "" %>">

						<% if (locals.errors && errors.name) { %>
						 
							<div class="error">
								<p> <%= errors.name.msg %></p>
							</div>

						<% } %>


                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" 
						value="<%= locals.oldData !== undefined && oldData.email ? oldData.email : "" %>">
						
						<% if (locals.errors && errors.email) { %>
						 <div class="error">
							<p> <%= errors.email.msg %></p>
						</div>
						<% } %>

					
					</div>
				
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="contraseña" 
							value= "<%= locals.oldData !== undefined && oldData.password ? oldData.password : "" %>">

						<% if (locals.errors && errors.password) { %>ç
						 
							<div class="error">
								<p> <%= errors.password.msg %></p>
							</div>

						<% } %>

                    </div>
                    
                    <button type="submit">Registrarme</button>
                </form>
			</div>
		</div>
		<!-- /Novedades -->

		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- /footer -->
	</body>
</html>
