<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<!-- product -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"> <%= resultado.producto %> </h2> 
				<p class="product-detail-description">
					<a href="product-add.html">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= resultado.imagen %>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= resultado.descripcion %>
						</p>
						<h3><%= resultado.producto %></h3> 
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									
									</p>
								</div>
							</article>
						</section>
					</div>
				</div>
			</div>
		
		</div>
		<!-- /Más comentados -->

		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- /footer -->
	</body>
</html>
